<h1> Cart </h1>

<% @products.each do |product| %>
    <div class="product">
        <%= link_to product.name, product_path(product) %>
        <span>$<%= product.price %></span>
        <span><%= product.description %></span>
        <%= link_to 'Remove from cart', cart_path(:id => product.id, :type => 'delete'), method: :patch %>
    </div>
<% end %>

<br />

<%= link_to 'Clear cart', cart_path, method: :delete %> |
<%= link_to 'Home', products_path %> |
<%= link_to 'Buy', orders_path, method: :post %>