<%= form_for @product do |f| %>
    <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </p>

    <p>
        <%= f.label :price %><br>
        <%= f.text_field :price %>
    </p>

    <p>
        <%= f.label :description %><br>
        <%= f.text_field :description %>
    </p>

    <%= f.submit %>
<% end %>

<% if @product.errors.any? %>
    <h3>Error!</h3>
    <ul>
        <% @product.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>