<h1> Products </h1>

<% @products.each do |product| %>
    <div class="product">
        <%= link_to product.name, product_path(product) %>
        <span>$<%= product.price %></span>
        <span><%= product.description %></span>
        <%= link_to 'Add to cart', cart_path(product), method: :patch %>
    </div>
<% end %>

<br />


<%= link_to 'Add product', new_product_path %> |
<%= link_to 'Show cart', cart_index_path %> |
<%= link_to 'Show orders', orders_path %>